In [94]:
import matplotlib
import pathlib
import mne
import mne.viz
import random
import csv
import os

import numpy as np
import pandas as pd
from tkinter import Tk     # from tkinter import Tk for Python 3.x
from tkinter import filedialog

In [95]:
matplotlib.use('Qt5Agg')

In [96]:
#You dont need to understand this, just know that it takes a list of numbers, and a desired value. It will return the closest value in the list to K
def closest(lst, K):
    return lst[min(range(len(lst)), key=lambda i: abs(lst[i] - K))]

#open a dialog box and get the selected csv file
root = Tk()
root.withdraw()
csvfile = filedialog.askopenfile(parent=root,mode='r',filetypes=[('Excel file','*.csv')],title='Choose CSV file')

# open another dialog box and get the selected tsv file
tsvfile = filedialog.askopenfile(parent=root,mode='r',filetypes=[('Excel file','*.tsv')],title='Choose TSV file')


# What kind of events do you want? These should be the EXACT text of what is in the tsv column
eventtype5 = 'Event/Description/Driver begins braking'
eventtype2 = 'Event/Description/Driver changes lanes to the left'
eventtype4 = 'Event/Description/Driver changes lanes to the right'
eventtype3 = 'Event/Description/Driver begins accelerating at an aggressive rate'

eventtimes5 = [] # create a blank list of event times
eventtimes2 = [] # create a blank list of event times
eventtimes4 = [] # create a blank list of event times
eventtimes3 = [] # create a blank list of event times

f = 256

### Braking event

In [97]:
with open(tsvfile.name) as fd:
    rd = csv.reader(fd, delimiter="\t", quotechar='"') # read the file, line by line, into seperate rows
    for row in rd: # for each row in the tsv file
        data = row[2].split(',') # this 'splits' our row string by commas and creates a list of elements
        if eventtype5 in data[1]: # this checks to see if our event type string (eventtype above) is inside of current tsv file event
            eventtimes5.append(float(row[1])) # if its the kind of event we want, lets add it to our eventtimes list
            print(data[1])

     
    df = pd.read_csv(csvfile.name) 
    times = df.Time.tolist()
    print('The Total Number of Driver begins braking events = ' + str(len(eventtimes5)))
    
    times_brake = times.copy()
    df_brake = df.copy()

 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
 Event/Description/Driver begins braking
The Total Number of Driver begins braking events = 56

In [98]:
with open(tsvfile.name) as fd:
    rd = csv.reader(fd, delimiter="\t", quotechar='"') # read the file, line by line, into seperate rows
    for row in rd: # for each row in the tsv file
        data = row[2].split(',') # this 'splits' our row string by commas and creates a list of elements
        if eventtype3 in data[1]: # this checks to see if our event type string (eventtype above) is inside of current tsv file event
            eventtimes3.append(float(row[1])) # if its the kind of event we want, lets add it to our eventtimes list
            print(data[1])

     
    df = pd.read_csv(csvfile.name) 
    times = df.Time.tolist()
    print('The Total Number of Driver begins accelerating at an aggressive rate = ' + str(len(eventtimes3)))
    
    times_accel = times.copy()
    df_accel = df.copy()

 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
 Event/Description/Driver begins accelerating at an aggressive rate
The Total Number of Driver begins accelerating at an aggressive rate = 97

In [99]:
with open(tsvfile.name) as fd:
    rd = csv.reader(fd, delimiter="\t", quotechar='"') # read the file, line by line, into seperate rows
    for row in rd: # for each row in the tsv file
        data = row[2].split(',') # this 'splits' our row string by commas and creates a list of elements
        if eventtype2 in data[1]: # this checks to see if our event type string (eventtype above) is inside of current tsv file event
            eventtimes2.append(float(row[1])) # if its the kind of event we want, lets add it to our eventtimes list

     
    df = pd.read_csv(csvfile.name) 
    times = df.Time.tolist()
    print('The Total Number of Driver shifts lane left = ' + str(len(eventtimes2)))
    
    times_left = times.copy()
    df_left = df.copy()

The Total Number of Driver shifts lane left = 27

In [100]:
with open(tsvfile.name) as fd:
    rd = csv.reader(fd, delimiter="\t", quotechar='"') # read the file, line by line, into seperate rows
    for row in rd: # for each row in the tsv file
        data = row[2].split(',') # this 'splits' our row string by commas and creates a list of elements
        if eventtype4 in data[1]: # this checks to see if our event type string (eventtype above) is inside of current tsv file event
            eventtimes4.append(float(row[1])) # if its the kind of event we want, lets add it to our eventtimes list

     
    df = pd.read_csv(csvfile.name) 
    times = df.Time.tolist()
    print('The Total Number of Driver shifts lane right = ' + str(len(eventtimes4)))
    
    times_right = times.copy()
    df_right = df.copy()

The Total Number of Driver shifts lane right = 26

### Braking Sint

In [103]:
print (eventtimes5)
StartIndex = np.array([]) 
print(StartIndex)
print(len(eventtimes5))

[2140.6094, 2149.5156, 2185.4102, 2211.4688, 2225.6289, 2253.0195, 2255.5234, 2305.6719, 2338.8203, 2362.7188, 2392.3711, 2418.6016, 2454.418, 2518.207, 2525.0039, 2530.0, 2585.4727, 3211.9023, 3218.5, 3221.7656, 3563.375, 3580.9414, 3695.9063, 3710.6367, 4643.0234, 4647.6406, 4656.9766, 4659.9883, 4666.8047, 4835.8359, 4990.3906, 5025.7656, 5032.6797, 5060.7227, 5064.9609, 5068.9336, 5071.8711, 5115.8125, 5208.9258, 5210.9609, 5215.6328, 5288.2734, 5354.8281, 5364.3281, 5376.3867, 5471.3203, 5474.3047, 5497.0156, 5512.9102, 5517.5234, 5522.9102, 5531.0195, 5541.1602, 5544.9492, 5568.7852, 5571.6758]
[]
56

In [104]:
for eventtime in eventtimes5: # go through each event start time, one at a time\n",
      EventStartTime = eventtime * 1000  # Convert to Milliseconds
      B = round(EventStartTime/(1000/f)) 
      StartIndex=np.append(StartIndex,B) 

Sint= np.rint(StartIndex)

columnHeaders = ['C']

### Acceleration   Sint3

In [106]:
StartIndex = np.array([]) 

for eventtime in eventtimes3: # go through each event start time, one at a time\n",
      EventStartTime = eventtime * 1000  # Convert to Milliseconds
      B = round(EventStartTime/(1000/f)) 
      StartIndex=np.append(StartIndex,B) 

len(StartIndex)
Sint3= np.rint(StartIndex)
print(Sint3) 
columnHeaders = ['C']

[ 548012.  560310.  560830.  562824.  563032.  563209.  568004.  568290.
  570413.  570807.  571577.  578862.  579238.  579778.  580451.  593879.
  594243.  621074.  630784.  631387.  631583.  649784.  650318.  650803.
  659570.  665349.  939497.  939716.  939795.  940261.  940901.  941021.
  941098.  941256.  942198.  942553.  948092.  948356.  952682.  953279.
  954312.  955346.  955579.  961605.  985956. 1000491. 1016689. 1018559.
 1023478. 1036719. 1060358. 1071836. 1086430. 1087358. 1096261. 1107050.
 1111871. 1120401. 1125319. 1139242. 1152118. 1155437. 1158648. 1230477.
 1231205. 1264217. 1264742. 1279595. 1280556. 1280802. 1312196. 1374299.
 1399529. 1399924. 1402753. 1404685. 1406480. 1406616. 1408881. 1410415.
 1410453. 1410591. 1410650. 1410804. 1412268. 1413075. 1414750. 1415436.
 1417796. 1419348. 1419701. 1421765. 1422747. 1423265. 1424193. 1424900.
 1426290.]

### Left lane change Sint2

In [108]:
StartIndex = np.array([]) 

for eventtime in eventtimes2: # go through each event start time, one at a time\n",
      EventStartTime = eventtime * 1000  # Convert to Milliseconds
      B = round(EventStartTime/(1000/f)) 
      StartIndex=np.append(StartIndex,B) 

len(StartIndex)
Sint2= np.rint(StartIndex)
print(Sint2) 
columnHeaders = ['C']

[ 577571.  582735.  601502.  676957.  683846.  693118.  715737.  743184.
  761247.  780618.  830543.  862141.  868279.  887149.  891197.  965231.
  966001.  968253. 1023438. 1036507. 1054003. 1071776. 1103032. 1148852.
 1179671. 1375881. 1377615.]

### Right lane Sint4

In [109]:
StartIndex = np.array([]) 

for eventtime in eventtimes4: # go through each event start time, one at a time\n",
      EventStartTime = eventtime * 1000  # Convert to Milliseconds
      B = round(EventStartTime/(1000/f)) 
      StartIndex=np.append(StartIndex,B) 

len(StartIndex)
Sint4= np.rint(StartIndex)
print(Sint4) 
columnHeaders = ['C']

[ 590201.  600666.  619743.  661813.  706465.  720806.  746655.  766083.
  823246.  846262.  865379.  871876.  881869.  895918.  905970.  943106.
 1007591. 1028285. 1049380. 1060633. 1139682. 1153039. 1174812. 1368101.
 1368657. 1369382.]

### Merging Sint2 and Sint4

In [110]:
Sint0 = np.concatenate((Sint2, Sint4), axis=0)
Sint0

array([ 577571.,  582735.,  601502.,  676957.,  683846.,  693118.,
        715737.,  743184.,  761247.,  780618.,  830543.,  862141.,
        868279.,  887149.,  891197.,  965231.,  966001.,  968253.,
       1023438., 1036507., 1054003., 1071776., 1103032., 1148852.,
       1179671., 1375881., 1377615.,  590201.,  600666.,  619743.,
        661813.,  706465.,  720806.,  746655.,  766083.,  823246.,
        846262.,  865379.,  871876.,  881869.,  895918.,  905970.,
        943106., 1007591., 1028285., 1049380., 1060633., 1139682.,
       1153039., 1174812., 1368101., 1368657., 1369382.])

In [126]:
print(Sint0.shape)
print(Sint.shape)
print(Sint3.shape)

(53,)
(56,)
(97,)

### Reading ECG files

These files are output by **I. Labels extraction.ipynb** script

In [112]:
df_ecg_brake = pd.read_csv("ecg_brake.csv")
df_ecg_lane = pd.read_csv("ecg_lane.csv")
df_ecg_accel = pd.read_csv("ecg_accel.csv")

In [113]:
print(df_ecg_brake.shape)
print(df_ecg_lane.shape)
print(df_ecg_accel.shape)

(56, 2)
(53, 2)
(97, 2)

### Choosing file  forget about it for now - get the studyLevel file for dyad 5

### Also copy the df file

In [127]:
df_eeg = df.copy()

### Now extracting ECG data

In [128]:
df_ecg = pd.read_csv("ECG_P_session_5.csv")

### Relabeling and merging events from EEG file

- Sint - stands for braking, will code it as 1
- Sint3 - stands for acceleration, will code it as 2
- Sint0 - stands for lane change, will code it as 3
- All these vectors will be stacked on top of each other and then merged with EEG dataframe. Missing values will be recoded as 0

In [129]:
# Sint
# Stack eventid and Sint vertically and then convert to dataframe. We have to transpose the stacked matrix first
eventid = np.repeat(1, repeats = len(Sint))
df_brake = np.vstack((Sint, eventid)).T
df_brake = pd.DataFrame(df_brake, columns = ['Time', 'event'])
df_brake.shape

(56, 2)

#### Now we apply whatever we did with Sint to SInt3 and Sint0

In [130]:
# Sint3
eventid = np.repeat(2, repeats = len(Sint3))
df_accel = np.vstack((Sint3, eventid)).T
df_accel = pd.DataFrame(df_accel, columns = ['Time', 'event'])
df_accel.shape

(97, 2)

In [131]:
# Sint0
eventid = np.repeat(3, repeats = len(Sint0))
df_lane = np.vstack((Sint0, eventid)).T
df_lane = pd.DataFrame(df_lane, columns = ['Time', 'event'])
df_lane.shape

(53, 2)

### Now we stack all event dataframes vertically

In [134]:
df_events = pd.concat([df_brake, df_accel, df_lane], axis = 0)

In [135]:
df_events.shape

(206, 2)

We have successfully extracted events from tsv file and extracted corresponding timestamps. Now we have a single dataframe with all event labels

Now we add codes for events to ECG dataframes

In [119]:
df_ecg_brake['event'] = 1
df_ecg_accel['event'] = 2
df_ecg_lane['event'] = 3

In [136]:
df_ecg_full = pd.concat([df_ecg_brake, df_ecg_accel, df_ecg_lane], axis = 0, ignore_index = True)

Now we join the event and ECG dataframes

We see that event column is in different formats in both dataframes - hence we should cast it to integer for df_events

In [143]:
print(df_events.shape)
df_events.head()

(206, 2)

       Time  event
0  547996.0    1.0
1  550276.0    1.0
2  559465.0    1.0
3  566136.0    1.0
4  569761.0    1.0

In [145]:
df_events['event'] = df_events['event'].astype(int)

In [146]:
df_events.head()

       Time  event
0  547996.0      1
1  550276.0      1
2  559465.0      1
3  566136.0      1
4  569761.0      1

In [147]:
print(df_ecg_full.shape)
df_ecg_full.head()

(206, 3)

           ibi        bpm  event
0  1068.186279  56.169978      1
1   976.511475  61.443210      1
2   923.660352  64.958943      1
3   942.361230  63.669852      1
4  1054.972595  56.873515      1

In [161]:
df_ecg_event = pd.concat([df_events.reset_index(drop = True), df_ecg_full.reset_index(drop = True)], axis = 1)

In [166]:
df_ecg_event.head()

       Time  event          ibi        bpm  event
0  547996.0      1  1068.186279  56.169978      1
1  550276.0      1   976.511475  61.443210      1
2  559465.0      1   923.660352  64.958943      1
3  566136.0      1   942.361230  63.669852      1
4  569761.0      1  1054.972595  56.873515      1

We have matched the ibi, bpm, event codes and timestamps. Now it is time to extract corresponding numbers from EEG dataframe

In [165]:
df_eeg

,Time,F3,F1,Fz,F2,F4,C3,C1,Cz,C2,...,CPz,P3,P1,Pz,P2,P4,POz,O1,Oz,O2
0,0.000000e+00,3.1058,3.0058,4.6054,9.8042,5.5242,-2.2930,1.1062,-2.1930,-2.3930,...,-2.6684,-2.6929,-3.8926,-2.4929,-2.1930,-2.9928,-0.0935,0.9063,-0.5934,-2.2328
1,3.906300e+00,-0.3989,-0.3989,1.3007,7.9992,5.4075,-4.1980,0.0010,1.4007,0.2010,...,0.3484,-3.9981,-1.2987,-0.4989,0.8008,-3.0983,-3.0983,-0.7988,0.7009,-1.0765
2,7.812500e+00,0.3358,0.2358,2.4353,9.9336,6.5364,-4.3631,0.4358,0.9357,-0.4640,...,-0.0626,-4.2631,-2.0636,-0.6640,0.4358,-3.7633,-3.3633,-0.9639,0.1359,-1.8043
3,1.171880e+01,-0.6690,-0.3691,2.1304,11.2283,7.6949,-5.2679,0.0309,1.8304,0.6307,...,0.3476,-4.9680,-2.0687,-0.8689,0.7307,-4.0682,-4.1682,-1.4688,0.0309,-2.0123
4,1.562500e+01,-1.2342,-0.4344,1.8650,10.1631,7.2003,-5.3333,-0.1345,2.2650,1.1652,...,0.7344,-4.6335,-1.7341,-0.6344,1.0652,-3.8337,-4.5335,-1.8341,0.0655,-1.7990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1564667,6.111980e+06,-3.7965,-2.5968,-10.0951,-12.1946,-8.7405,6.9010,12.8996,-1.7970,-3.9965,...,-1.7878,-1.1971,0.1026,-5.6961,0.2025,-0.0974,11.5999,4.9015,10.1003,9.3296
1564668,6.111984e+06,-2.9455,-1.7458,-9.7440,-12.0434,-8.4916,7.4521,13.2508,-1.3459,-3.9453,...,-1.4902,-1.2459,0.1538,-5.6449,0.4537,-0.5461,10.6514,3.6530,9.0517,8.5395
1564669,6.111988e+06,-2.7386,-1.7388,-9.5371,-11.8365,-8.2981,7.5590,13.2577,-1.4389,-3.9383,...,-1.5665,-1.5389,-0.0392,-5.5380,0.3607,-0.7391,11.1582,3.4600,8.7587,8.4024
1564670,6.111992e+06,-3.3451,-1.5455,-9.5437,-10.1436,-6.9677,6.5526,13.3510,-1.1456,-3.4451,...,-1.2769,-2.0454,-0.0459,-5.4447,0.4540,-0.9457,9.7519,2.7535,8.4522,7.9556
1564671,6.111996e+06,-2.3815,-0.5820,-9.9798,-12.4792,-8.4656,7.2163,13.9147,-0.8819,-3.5813,...,-1.0289,-2.0816,0.4178,-5.2809,0.6178,-0.9819,10.1156,2.6173,8.4160,8.2097

Now we merge df_ecg_event with df_eeg which is appended from the right and we use asof merge. Before merging, let's drop NAs

In [171]:
df_eeg = df_eeg.dropna()
df_ecg_event = df_ecg_event.dropna()

In [172]:
print(df_eeg.shape)
print(df_ecg_event.shape)

(1564672, 21)
(206, 5)

In [175]:
df_eeg_ecg = pd.merge_asof(df_ecg_event, df_eeg, on = 'Time', tolerance = pd.Timedelta('10000ms'))

MergeError: incompatible tolerance 0 days 00:00:10, must be compat with type dtype('float64')

In [188]:
df_eeg2 = df_eeg.copy()
df_ecg_event2 = df_ecg_event.copy()

In [189]:
df_eeg2['Time'] = pd.to_datetime(df_eeg2['Time'], utc=True, unit='ms')
df_ecg_event2['Time'] = pd.to_datetime(df_ecg_event['Time'], utc=True, unit='ms')

In [204]:
df_eeg2.dropna(inplace = True, axis = 0)
df_ecg_event2.dropna(inplace = True, axis = 0)
df_eeg_ecg2 = pd.merge_asof(df_ecg_event2.sort_values('Time'), df_eeg2.sort_values('Time'), on = 'Time', tolerance = pd.Timedelta('10000ms'))

### Now we extract data from seatbottom sensors

In [208]:
df_eeg_ecg2.to_csv("df_eeg_ecg2.csv", index = True)